<form novalidate 
  name="bufferForm" 
  ng-submit="bufferForm.$valid && saveBuffer()">
  <div class="form-group">
    <label for="bufferVolume">Volume:</label>
    <input type="text" id="bufferVolume" name="bufferVolume" ng-model="buffer.volume" class="form-control" required>
  </div>
  <label>Compounds:</label>
  <div class="form-group form-inline" ng-repeat="compound in buffer.compounds">
    <div class="pull-left">
      <label ng-if="$index === 0" for="cpdConc">Concentration:</label>
      <br ng-if="$index === 0">
      <input id="cpdConc" type="text" name="cpdConc" ng-model="compound.conc" class="form-control">
    </div>
    <div class="pull-right">
      <label ng-if="$index === 0" for="cpdConc">Formula:</label>
      <br ng-if="$index === 0">
      <input id="cpdFormula" type="text" name="cpdFormula" ng-model="compound.formula" class="form-control">
    </div>
    <button ng-click="compound.getElements()" >get elements</button>
  </div>
  </div>
  <button ng-click="addCompound()" type="button" class="btn btn-small btn-default">Add another Compound</button>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
